<header>
  <nav class="navbar navbar-expand-lg fixed-top px-4 shadow-sm" style="background-color: #FF5290;">
    <div class="container-fluid">
      <a class="navbar-brand text-light p-0" href="/search">
        <img src="https://i.imgur.com/esw7XVP.png" class="navbar-brand-img" alt="">
      </a>

      {{!-- bootstrap RWD --}}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {{#if user}}
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          {{#ifCond user.role true}}
          <li class="nav-item">
            <a href="/admin/meows"><button class="btn btn-outline-light my-sm-0 me-2 my-2">後台管理</button></a>
          </li>
          {{/ifCond}}
          <li class="nav-item">
            <a href="/users/{{user.id}}/setting"><button
                class="btn btn-outline-light my-sm-0 me-2 my-2">帳號設定</button></a>
          </li>
          <li class="nav-item">
            <a href="/logout"><button class="btn btn-outline-light my-sm-0 my-2">登出</button></a>
          </li>
        </ul>
      </div>

      {{else}}
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a href="/signin"><button class="btn btn-outline-light my-sm-0 my-2">登入</button></a>
          </li>
        </ul>
      </div>

      {{/if}}
    </div>
  </nav>
</header>