<div class="search-zone mt-3" style="width: 90%; margin: 0 auto;">
  <div class="search-bar mb-3 d-flex">
    <input type="text" class="form-input input text-16px-reg me-3" placeholder="輸入想查詢的地址">
    <button class="pill-main pill-small">查詢</button>
  </div>

  <div class="search-map mb-3 border">
    我是地圖
  </div>

  <div class="search-panel mb-3 border">
    我是搜尋結果
  </div>
</div>